<html>
    <head>
        <link href="{{ url_for('static', filename='home.css') }}" />

        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title></title>
        {% endif %}
    </head>
    <body>
        {% if data %}
        <h1>{{ data.message }}</h1>
        {% else %}
        <h1>no message</h1>
        {% endif %}

        <button>J</button>
        <button>W</button>

        <h2>{{ data.answer }}</h2>

        <div>
          score: {{ score }}
        </div>

    </body>
</html>
