<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title></title>
        {% endif %}
        <link rel="shortcut icon" type="image/png" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/155/information-desk-person_1f481.png"/>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128940867-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128940867-1');
    </script>


    </head>
    <body>
      <div class="dashboard">
        <div class="dashboard__message">
          {% if data %}
          <h1>{{ data.message }}</h1>
          {% else %}
          <h1>no message</h1>
          {% endif %}
        </div>

        <div class="dashboard__buttons">
          <button id="button--J" class="button button--green" onClick="checkAnswer('J')">J</button>
          <button id="button--W" class="button button--red" onClick="checkAnswer('W')">W</button>
        </div>

        <div class="dashboard__answer">
          <h2 id="answer" class="hidden">{{ data.answer }}</h2>
        </div>

        <div class="dashboard__score">
          <h3 id="score">Press a Button to Start</h3>
        </div>

        <div class="dashboard__buttons">
          <button id="button--next" class="button button--next" onClick="next()" disabled>Next</button>
        </div>
      </div>
    </body>
</html>
