<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />

        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title></title>
        {% endif %}
    </head>
    <body>
      <div class="dashboard">
        <div class="dashboard__message">
          {% if data %}
          <h1>{{ data.message }}</h1>
          {% else %}
          <h1>no message</h1>
          {% endif %}
        </div>

        <div class="dashboard__buttons">
          <button class="button button--green">J</button>
          <button class="button button--red">W</button>
        </div>

        <div class="dashboards__answer">
          <h2>{{ data.answer }}</h2>
        </div>

        <div class="dashboards__score">
          <h3>score: {{ score }}</h3>
        </div>
      </div>
    </body>
</html>
